@page
@model MyBugTracker.Pages.Bugs.EditBugsModel
@{
}

<br>
<h2>Edit Bug</h2>

@if (Model.errorMessage.Length > 0)
{
    <div class="alert alert-warning alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert" aria-label="close">&times;</button>
        <strong>@Model.errorMessage</strong>
    </div>
}

<form method="POST">
    <input type="hidden" name="id" value="Model.bugInfo.id">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Title</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="title" value="@Model.bugInfo.title">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Description</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="description" value="@Model.bugInfo.description">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Assigned To</label>
        <div class="col-sm-6">
            <select id="myDropDown" name="assigned" class="form-control" value="" asp-items="@(new SelectList(Model.displayData,"name","name"))">
                <option selected disabled>@Model.bugInfo.assigned</option>
            </select>
        </div>
    </div>

    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </div>
        <div class="col-sm-3 d-grid">
            <a class="btn btn-outline-primary btn-block" href="/" role="button">Cancel</a>
        </div>
    </div>
</form>